:root {
  --black: #0c0c0c;
  --brown: #481e14;
  --maroon: #9b3922;
  --orange: #f2613f;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--black);
  color: var(--orange);
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 1em;
}
input {
  border: none;
  border-bottom: 2px solid var(--maroon);
  background-color: transparent;
  outline: none;
  color: white;
  font-weight: bolder;
}
button {
  border: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.menu > button {
  margin: 10px;
  padding: 20px;
  background-color: black;
  border-radius: 40px;
  border: 2px solid var(--maroon);
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.menu > button:hover {
  background-color: var(--maroon);
  color: white;
}

.popup-area {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.8);
  justify-content: center;
  align-items: center;
  animation-name: popup_animation;
  animation-duration: 1s;
}

.popup-box {
  color: white;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .box-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@keyframes popup_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box-difficulty {
  display: none;
  max-width: 500px;
  max-height: 500px;
  width: 40%;
  height: 80%;
  h2 {
    font-size: 170%;
  }
  .back-btn {
    margin-top: 20px;
  }
}

.diff-list {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
  .difficulty-btn {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
  }

  .easy-btn {
    background-color: #7aba78;
    box-shadow: rgba(122, 186, 120, 0.5) 0px 5px 15px;
  }
  .medium-btn {
    background-color: #2c4e80;
    box-shadow: rgba(44, 78, 128, 0.5) 0px 5px 15px;
  }
  .hard-btn {
    background-color: #fd4141;
    box-shadow: rgba(253, 65, 65, 0.5) 0px 5px 15px;
  }
}

.box-quiz {
  display: none;
  flex-direction: column;
  gap: 20px;
  max-width: 950px;
  max-height: 500px;
  width: 70%;
  height: 80%;
  padding: 0 30px;
  .box-content {
    width: 95%;
  }
  .nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .quiz-content {
    padding-top: 50px;
    width: 100%;
    height: 80%;
    overflow: auto;
    border: 2px solid red;
    gap: 20px;
  }
  .quiz-area {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}
